@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

p, h1{
  margin: 0;
}

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img{
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
}

#img_wrapper{
  position: relative;
}

#container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

#refresh{
  margin-top: 15px
}

.centered {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden{
  /* display: none; */
}