@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: "Kawaii";
  src: url("./KawaiiBubble-Regular.ttf");
}

p, h1{
  margin: 0;
}

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img{
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
  border-radius: 10px;
}

#img_wrapper{
  position: relative;
}

#container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  background-color: grey;
}

#refresh{
  margin-top: 15px
}

.centered {
  position: absolute;
  top: 5%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  transition: transform 3s;
  animation: fade_in_out 3s forwards;
  animation-iteration-count: 1;
  font-size: 4vmin;
  font-family: "Kawaii";
  color: #FBDDE7;
  -webkit-text-stroke: 1px black; /* width and color */
}



@keyframes fade_in_out{
  0% {
    opacity: 0%;
  }
  40%{
    opacity: 100%;
  }
  75%{
    opacity: 100%;
  }
  100%{
    opacity: 0%;
  }
}