/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@font-face {
  font-family: "Kawaii";
  src: url("./fonts/KawaiiBubble-Regular.ttf");
}

@font-face {
  font-family: "Foodpacker";
  src: url("./fonts/Foodpacker.otf");
}

@font-face {
  font-family: "Mangaka";
  src: url("./fonts/Mangaka.otf");
}

:root{
  --added_text_color: #f5bace;
  --header_color: #80e1ee;
  --container_color: #7a72b3;
}

p, h1, button{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
  font-family: "Foodpacker";
  font-size: max(7vmin, 25px);
  color: var(--header_color);
}

p{
  font-size: max(2vmin, 8px);
  color: rgba(34, 34, 34, .75);
}

#description{
  margin-bottom: 10px;
}

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./imgs/onigiri_background.png");
  background-repeat: repeat;
  background-size: 500px;

}

img{
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
  border-radius: 10px;
}

#img_wrapper{
  position: relative;
}

#container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--container_color);
}

#refresh{
  transition: transform .5s ease-out;
  font-family: "Kawaii";
  font-size: max(3vmin, 16px);;
  padding: 8px;
  border: solid 4px var(--header_color);
  background-color: var(--container_color);
  color: var(--header_color);
  -webkit-text-stroke: 1px black;
  border-radius: 10px;
  z-index: 1;
}

#refresh:hover{
  transition: transform .5s cubic-bezier(.17,.67,.49,1.6);
  transform: scale(1.1);
  color:rgba(34, 34, 34);
  -webkit-text-stroke: 0px;
  background-color: var(--header_color);
}

#refresh:hover + .vapor span{
  animation: steam 4s linear infinite;
  animation-delay: calc(var(--i) * .5s);
}

.vapor{
  position: absolute;
  display: flex;
}

.vapor span{
  position: relative;
  bottom: 10px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 70px;
  background-color: #fff;
  z-index: 0;
  border-radius: 50%;
  opacity: 0; 
  filter: blur(8px);
}

@keyframes steam {
  0%{
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  15%{
    opacity: 1;
  }
  50%{
    transform: translateY(-50px) scaleX(5);
  }
  95%{
    opacity: 0;
  }
  100%{
    transform: translateY(-100px) scaleX(10);
  }

}

.button_wrapper{
  margin-top: 45px;
  display: flex;
  justify-content: center;
  position: relative;
}

.centered {
  position: absolute;
  top: 5%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  transition: transform 3s;
  animation: fade_in_out 3s forwards;
  animation-iteration-count: 1;
  font-size: 4vmin;
  font-family: "Kawaii";
  color: var(--added_text_color);
  -webkit-text-stroke: 1px black; /* width and color */
}


@keyframes fade_in_out{
  0% {
    opacity: 0%;
  }
  40%{
    opacity: 100%;
  }
  75%{
    opacity: 100%;
  }
  100%{
    opacity: 0%;
  }
}